[submodule "faslib"]
	path = faslib
	url = https://github.com/migashko/faslib.git
[submodule "wfcroot"]
	path = wfcroot
	url = git@gitlab.lan:cpp/wfcroot.git
[submodule "wfc_demo"]
	path = wfc_demo
	url = git@gitlab.lan:cpp/wfc_demo.git
